<?xml version="1.0" encoding="UTF-8"?>

	<mapper namespace="org.han.member.BbsMapper">
	
	
<!-- 		<delete id = "delete" parameterType="String">
	delete tbl_member where userid = #{userid}
	
	</delete>
	
	<select id = "selDynamic" parameterType="org.han.member.BbsCriteria" resultType="org.han.member.BbsCriteria"></select>
	SQL문 사용 시 부등호 사용시 CDATA사용 <![CDATA[]]>
	
	types가 널인지 keyword가 널인지 따진 후 foreach
	<![CDATA[
	select * from tbl_bbs
	where bbsno>0
	and rownum <= 10 	
	]]> -->
	
	</mapper>